/**
*  Template Name: NewFirm
*  Template URL: https://templatemag.com/newfirm-bootstrap-business-template/
*  Author: TemplateMag.com
*  License: https://templatemag.com/license/
*/

body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #333;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.goleft {
  text-align: left;
}

/* Links */

a {
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-size: 14px;
  background: #ffffff;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
  border-bottom-width: 0px;
}

/* ================== BASIC CONFIGURATION ================== */

.spacing i {
  padding-left: 8px;
  padding-right: 8px
}

/* margin top & Bottom */

.mt {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Special Margin for Wrap sections */

.mts {
  padding: 20px 0;
}

/* service icons */

.si:hover {
  background-color: #ffffff;
}

.si i {
  font-size: 40px;
  padding: 20px;
}

/* Padding top & bottom */

.pt {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Description Styling / Used in portfolio & Blog images footnotes */

.desc p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
}

.desc p>i {
  font-size: 16px;
  color: #979797;
}

.desc p>i:hover {
  font-size: 16px;
  color: #e74c3c;
  cursor: pointer;
}

.desc p.lead {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin-top: -15px;
}

.desc p.time {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0px;
  color: #979797;
  text-align: right;
}

.desc p.time>i {
  font-size: 12px;
}

/* Dashed Separator */

hr-d {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 1em 0;
  padding: 0;
}

p.capitalize {
  display: block;
  text-align: left;
}

p.capitalize:first-letter {
  text-transform: capitalize;
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
}

/* Button Call To Action */

.btn-cta {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-cta.active, .open .dropdown-toggle.btn-cta {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Theme */

.btn-theme {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Yellow */

.btn-yellow {
  color: #2f2f2f;
  background-color: #ffd56c;
  border-color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open .dropdown-toggle.btn-yellow {
  color: #2f2f2f;
  background-color: #fdc741;
  border-color: #ffffff;
}

/* Tab Modification */

.tab-mod {
  margin-bottom: 0px;
}

.tabbable p {
  color: #2f2f2f;
  font-weight: 400;
}

/***** Testimonials Styling *****/

.testi-container {
  width: 100%;
  margin-bottom: 14px;
  padding: 5px 6px 3px 0px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  float: left;
  z-index: 998;
}

.testi-container:before {
  width: 25px;
  height: 17px;
  background: #fafafa;
  content: '';
  position: absolute;
  z-index: 999;
  left: 42px;
  bottom: 0px;
  margin-left: -7px;
}

@media \0screen {
  .testi-container:before {
    background: none;
  }
}

.testi-container:after {
  width: 17px;
  height: 17px;
  background: #fafafa;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: '';
  position: absolute;
  z-index: 888;
  left: 45px;
  bottom: -5px;
  margin-left: -7px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media \0screen {
  .testi-container:after {
    background: none;
    border: none;
  }
}

.testi-text {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 10px 14px 0px 14px;
  font-weight: 200;
}

/* ================== MAIN WRAP SECTIONS ================== */

#headerwrap {
  background: url(../img/bg01.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 20px;
  background-attachment: relative;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  visibility: hidden;
}

#headerwrap h2 {
  color: white;
  visibility: hidden;
}

#headerwrap .img-responsive {
  margin: 0 auto;
}

/* Headerwrap 2 Wrap */

#headerwrap-2 {
  background: url(../img/hwrap2.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap-2 h1 {
  color: white;
  font-size: 60px;
  font-weight: 100;
}

/* Service Wrap */

#servicewrap {
  background: url(../img/swrap.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 110px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#servicewrap h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

/* About Wrap */

#aboutwrap {
  background: url(../img/awrap.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 110px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutwrap h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

/* Offices Wrap */

#officewrap {
  background: url(../img/owrap.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 110px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#officewrap h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

/* Pricing Wrap */

#pricewrap {
  background: url(../img/pwrap.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 110px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pricewrap h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

/* Full width project Wrap */

#fullproject {
  background: url(../img/fullproject.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 110px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 600px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#fullproject h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

/* Footer Wrap */

#f {
  background-color: #1b1b1b;
  padding-top: 40px;
  padding-bottom: 40px;
}

#f p {
  color: white;
}

#f h4 {
  color: white;
}

/* Color Wraps */

#white {
  margin-top: 0px;
  background-color: #ffffff;
  min-height: 300px;
  width: 100%;
}

#grey {
  margin-top: 0px;
  background-color: #f7f7f7;
  min-height: 300px;
  width: 100%;
}

#black {
  margin-top: 0px;
  background-color: #2f2f2f;
  min-height: 300px;
  width: 100%;
}

#black h3 {
  color: white;
}

#black h4 {
  color: white;
  text-transform: uppercase
}

#black p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

#black i {
  font-size: 35px;
}

#black h1 {
  color: white;
  font-size: 70px;
}

.contact-form label {
   color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button  {
  background: #3498db;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #34a8f6;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* ================== CALL TO ACTION WRAP SECTIONS & HELPERS ================== */

#cta01 {
  background-color: #ffffff;
  margin-top: 0px;
  padding-top: 50px;
  text-align: center;
  background-position: center center;
  min-height: 200px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cta01 h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 60px;
}

#cta01 h2 {
  color: #000;
  font-weight: 700;
  margin-bottom: 25px;
}

#cta01 i {
  color: white;
  font-size: 45px;
}

#cta-bar {
  background: #2f2f2f;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-transition: color 0.3s ease-in, background 0.3s ease-in;
  -moz-transition: color 0.3s ease-in, background 0.3s ease-in;
  -ms-transition: color 0.3s ease-in, background 0.3s ease-in;
  -o-transition: color 0.3s ease-in, background 0.3s ease-in;
  transition: color 0.3s ease-in, background 0.3s ease-in;
}

#cta-bar:before, #cta-bar:after {
  -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
  -ms-transition: color 0.2s ease-in, background 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background 0.2s ease-in;
  transition: color 0.2s ease-in, background 0.2s ease-in;
  cursor: pointer;
}

#cta-bar h4 {
  color: white;
  font-weight: 400;
}
